<div class="container">
  <p>home works!</p>
  <!-- interpolation ts to template-->
  <div>{{ v1 }}</div>
  <!--attribute proprety binding [src] ts to template-->
  <div><img [src]="v2" alt="Angular Logo" /></div>
  <!--eventbinding template to ts-->
  <div><button (click)="send()">try me</button></div>
  <!--two way databinding -->
  <div>
    <input type="text" [(ngModel)]="email" placeholder="Enter your email" />
    <p>{{ email }}</p>
  </div>
  <div *ngIf="a > 2">
    <h3>ngif work</h3>
  </div>
  <li>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i }}{{ student.name }}</td>
    </tr>
    <h3>ngfor work</h3>
  </li>

  <div [ngSwitch]="day">
    <p *ngSwitchCase="'Monday'">Today is Monday</p>
    <p *ngSwitchCase="'Tuesday'">Today is Tuesday</p>
    <p *ngSwitchDefault>It's the weekend!</p>
  </div>
  <h3>Pipe</h3>
  <h4>
    to uppercase

    <p>{{ 'hello world' | uppercase }}</p>
  </h4>
  <p>Today is: {{ today | date : 'fullDate' }}</p>
  <p>Short date: {{ today | date : 'shortDate' }}</p>
</div>
